.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml
*.log
coverage/
android/.gradle/
ios/Pods/
macos/Pods/
windows/flutter/ephemeral/
linux/flutter/ephemeral/
web/flutter_service_worker.js
.env

